/* minimalist-style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    color: #444;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.dashboard-nav {
    background-color: #222;
    color: #fff;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.dashboard-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.dashboard-nav ul li {
    margin: 0 1rem;
}

.dashboard-nav ul li a,
.dashboard-nav ul li button {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1rem;
}

.minimalist-container {
    width: 70%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px;
}

.minimalist-input-section {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.minimalist-input-section h1 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #222;
}

.minimalist-form-group {
    margin-bottom: 15px;
}

.minimalist-form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.minimalist-form-group select,
.minimalist-form-group input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 16px);
    box-sizing: border-box;
    font-size: 14px;
}

.minimalist-input-section button {
    padding: 12px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.minimalist-input-section button:hover {
    background-color: #2980b9;
}

.minimalist-output-section {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 6px;
}

.minimalist-output-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #222;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .nav-button {
    background-color: #3e8e41;
}
