{% extends "admin_users/_base.html" %}


{% block main %}

<div class="mycontainer group/container">
    <h1 class="fancy-headline relative inline-block text-slate-700 text-2xl font-medium">Open Positions</h1>
    <div class="flex flex-wrap gap-8 py-8">
        {% for course in course_list %}
        <a href="{% url "edit_course" course_id=course.id %}" class="group/card flex flex-col w-full lg:w-[30%] gap-5 p-8 rounded-xl border hover:bg-brand hover:shadow-xl duration-500">
            <span class="text-2xl text-slate-700 font-medium group-hover/card:text-white">{{course.position}}</span>
            <span href="" class=" group-hover/card:text-white text-slate-700">Edit <i class="ml-0 text-brand group-hover/card:ml-2 group-hover/card:text-white fa-solid fa-arrow-right duration-500"></i></span>
        </a>
        {% endfor %}
        <a href="{% url "create_course" %}" class="group/card flex flex-col border-dotted justify-center items-center w-full lg:w-[30%] gap-5 p-8 rounded-xl border-2 hover:bg-brand hover:shadow-xl duration-500">
            <span class="text-2xl text-brand font-medium group-hover/card:text-white">+</span>
            {% comment %} <span href="" class=" group-hover/card:text-white text-slate-700">Apply Now <i class="ml-0 text-brand group-hover/card:ml-2 group-hover/card:text-white fa-solid fa-arrow-right duration-500"></i></span> {% endcomment %}
        </a>
    </div>
</div>

{% endblock main %}