<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digi Finance Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Digi Finance</h1> 
        <button class="Logout">Logout</button>
    </header>
    <div class="container">
        
    <nav class="dashboard-nav">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><form action="{{ url_for('incexp') }}" method="POST">
                <button type="submit">Income Expense</button>
            </form></li>
            <li><form action="{{ url_for('set_budget') }}" method="POST">
                <button type="submit">Budget</button>
            </form></li>
            <li>
                <form action="{{ url_for('predict_expenses') }}" method="POST">
                    <button type="submit">Expense Prediction</button>
                </form>
            </li>
            <li class="dropdown">
                <button>Investment Recommendation ▼</button>
                <div class="dropdown-content">
                    <form action="{{ url_for('investmentrecommaindation') }}" method="POST">
                        <button type="submit">Investment Overview</button>
                    </form>
                    <form action="{{ url_for('stockrecommendation') }}" method="POST">
                        <button type="submit">Stock Recommendation</button>
                    </form>
                    <form action="{{ url_for('investrec') }}" method="POST">
                        <button type="submit">Investment RecommendationS</button>
                    </form>
                </div>
            </li>
        </ul>
    </nav>
        <main id="main-content">
            <section class="dashboard">
                <div class="categories">
                    <div class="category" id="Balance">
                        <h2>Balance</h2>
                        <p>INR {{ balance | round(2) }}</p>
                    </div>
                    {% for expense in expenses_by_category %}
                    <div class="category" id="{{ expense['category'] }}">
                        <h3>INR {{ expense['total_amount'] | round(2) }}</h3>
                        <p>{{ expense['category'] }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="transactions">
                    <h2>Recent Transactions</h2>
                    <table>
                        <tr>
                            <th>Purpose</th>
                            <th>Category</th>
                            <th>Sum</th>
                            <th>Date</th>
                        </tr>
                        {% for transaction in recent_transactions %}
                        <tr>
                            <td>{{ transaction['purpose'] }}</td>
                            <td>{{ transaction['category'] }}</td>
                            <td>{{ transaction['amount'] | round(2) }}</td>
                            <td>{{ transaction['date'] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </section>
        </main>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
